body
{  background: rgb(201, 160, 131); }

h1
{ text-align: center;
    background: rgb(212, 139, 86);} 
ul
{text-align: center;}
li
{ display: inline-block;}

.block
{ display: inline-block; 
background: darkcyan;
width: 100px;
height: 100px;
border:2px solid white;}
